# Derlenmiş dosyalar
bin/
obj/

# Gizli bilgiler
launchSettings.json
appsettings.json
appsettings.*.json
.env
redis_password.txt
*.sln

# IDE yapılandırmaları
.idx/
.vscode/
.idea/

# Migrations klasörü
migrations/

# Paketler
packages/

# Kullanıcıya özgü dosyalar
.suo