# Derlenmiş dosyalar
bin/
obj/

# Gizli bilgiler
launchSettings.json
appsettings.json
appsettings.*.json
.env

# IDE yapılandırmaları
.idx/
.vscode/
.idea/

# Paketler
packages/

# Kullanıcıya özgü dosyalar
.suo